<div class="section">
    <h3>{% trans 'Linked Articles' %}</h3>
    {% regroup relatives by relationship as grouped_relations %}
    {% for relationship, relations in grouped_relations %}
    <ul>
        {% for relation in relations %}
        <li>
            <a href="{{ relation.to_article.url }}" target="_blank">
                {% trans relation.to_article.get_language_display %}: {{ relation.to_article.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
